#main {
    width: 76%;
    margin-top: 170px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  #preview {
    width: 40%;
  }
  #description {
    margin-left: 3%;
    width: 55%;
  }
  .preview-img {
    width: 100%;
  }
  #heading {
    font-size: 44px;
    letter-spacing: -2px;
    font-weight: 300;
    margin:0;
  }
  #description h3 {
    font-size: 20px;
    font-weight: 300;
  
  }
  #price {
    font-weight: bold;
    letter-spacing: 1px;
    color: #009688;
  }
  #details {
    color: #86939e;
  }
  #photos {
    display: flex;
    align-items:center;
  }
  .img-thumbnail {
    width: 15%;
    margin-right: 3%;
    cursor: pointer;
  }
  .selected {
    border: 2px solid #009688;
    padding: 4px;
    border-radius: 5px;
    width: 14% !important;
  }
  
  #add-to-cart {
    background-color: #009688;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    letter-spacing: 2px;
    border: none;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgb(0 , 0 , 0 , 50%);
    cursor: pointer;
  }
  #add-to-cart:hover {
    box-shadow: 0 2px 10px rgb(0 ,0 ,0 , 80%);
  }
  #add-to-cart:active {
    transform: scale(1.1);
  }